@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap');

/* Nomarlizacion */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que se repartan las medidas y no se agreguen a lo default */
}

html {
    font-size: 62,5%; /* Para que la medida rem sea 10px */
}


ol ,ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Oswald';
    color: white;
    font-weight: 500px;
}
header {
        background: rgb(255,124,188);
        background: linear-gradient(0deg, rgba(255,124,188,1) 0%, rgba(252,157,249,1) 20%, rgba(227,192,251,1) 48%, rgba(181,255,255,1) 84%);
        padding: 1rem; /* Le hace un marco hacia adentro a mi header, haciendo que no queden las cosas pegadas al borde */
    }

    .formulario {
        padding: 1rem;
    }

    
    main {
        background-color: #ff7cbc;
        border: 0.7rem white solid;
    }

/* Celular */

@media only screen and (max-width: 479px) {

    footer {
        /* background-color: #b5ffff; */
        background: rgb(181,255,255);
        background: linear-gradient(0deg, rgba(181,255,255,1) 4%, rgba(193,239,254,1) 22%, rgba(227,192,251,1) 39%, rgba(252,157,249,1) 61%, rgba(255,124,188,1) 84%);
        padding: 1rem;
    } 
    
    .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menu__item {
        font-family: 'Oswald';
        /* border: 0.3rem rgb(255, 255, 255) solid; */
        padding: 0px 0.3rem 0px 0.3rem;
    }

    .menu__item--imagen {
        order: -1;
    }

    .ofertas {
        display: grid;
        justify-items: center;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        margin: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .imagen {
        width: 100%;
        height: 100%;
    }

    .ofertas__imagen1 {
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .ofertas__imagen2 {
        width: 100%;
        grid-column: 1;
        grid-row: 2;
    }

    .ofertas__imagen3 {
        width: 100%;
        grid-column: 1;
        grid-row: 3;
    }

    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
 }

/* Escritorio */

@media only screen and (min-width: 479px) {
    
    footer {
        /* background-color: #b5ffff; */
        background: rgb(181,255,255);
        background: linear-gradient(0deg, rgba(181,255,255,1) 4%, rgba(193,239,254,1) 22%, rgba(227,192,251,1) 39%, rgba(252,157,249,1) 61%, rgba(255,124,188,1) 84%);
        padding: 1rem;
    } 

    .menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }

    .menu__item {
        font-family: 'Oswald';
        font-size: 1.5rem;
        /* border: 0.3rem rgb(255, 255, 255) solid; */
        padding: 0px 0.3rem 0px 0.3rem;
        transition: transform .6s;
        transition: border .6s;
    }

    .menu__item--imagen {
        transition: transform .6s;
    }

    .menu__item--imagen:hover {
        transform: scale(1.05);
    }

    .menu__item:hover {
        transform: scale(1.05);
        border: 0.3rem rgb(255, 255, 255) solid;
    }

    .ofertas {
        display: grid;
        justify-items: center;
        margin: 2rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(6 , 1fr);
        grid-template-rows: 1fr 1fr;
        transition: rotate 0.6s
    }

    .imagen {
        width: 100%;
        height: 100%;
    }

    .ofertas__imagen1 {
        transition: transform 0.6s;
        grid-column: 1/7;
        grid-row: 1/2;
    }

    .ofertas__imagen1:hover {
        transform: rotate(1deg);
    }

    .ofertas__imagen2 {
        transition: transform 0.6s;
        grid-column: 1/4;
        grid-row: 2;
    }

    .ofertas__imagen2:hover {
        transform: rotate(1deg);
    }

    .ofertas__imagen3 {
        transition: transform 0.6s;
        grid-column: 4/7;
        grid-row: 2;
    }

    .ofertas__imagen3:hover {
        transform: rotate(1deg);
    }

    .nosotros {
         display: flex;
         flex-direction: column;
         align-items: center;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }

     @media only screen and (min-width: 480px) {
     .ofertas__imagen1{
         width: 100%;

     }

     .ofertas__imagen2{

        width: 100%;
     }

     .ofertas__imagen3{
         width: 100%;
     }
 }     


 /* Recordatorio de comandos para la terminal
    git init
    git status
    git add archivo (pasa de estar untracked el archivo a estar agregado)(git add . agrega todos los archivos que tengo en el proyecto)
    git rm --cached archivo (vuelve a meter en untracked al archivo)
    git commit -m (-am te lo add y commit al mismo tiempo)  "comntario de lo que updateo en esa version"
    git log
    git branch nombreDeLaRama (una rama para agregar y modificar cosas sin que afecte a mi rama principal)
    git switch NombreDeLaRama (cambio entre ramas)
    git merge nombreDeLaRama (fusiona la rama que mencione con la que estoy parado)
    git branch -d NombreDeLaRama (elimino una rama que ya no ovy a utlizar)
     */